body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #0d43a0;
    margin: 0 auto;
    line-height: 48px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #0d43a0;
    margin: 0 auto;
    line-height: 48px;
}

@media screen and (min-width: 768px) {

    h2 {
        margin: 100px auto;
        color: #0d43a0;
        text-align: center;
        font-size: 36px;
        max-width: 600px;
        margin: 60px auto;
        position: relative;
    }

    h2:before {
        content: "";
        display: block;
        width: 130px;
        height: 5px;
        background: #0d43a0;
        left: 0;
        top: 50%;
        position: absolute;
    }
    
    h2:after {
        content: "";
        display: block;
        width: 130px;
        height: 5px;
        background: #0d43a0;
        right: 0;
        top: 50%;
        position: absolute;
    }
}

#hero {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    margin: 100px auto;
}


/* Hero Section */

#hero-left {
    max-width: 40%;
    margin: 0 auto;
}

#hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    #hero {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    #hero-right {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }

    #hero-img {
        border-radius: 50%;
        margin: auto;
        width: 50%;
    }
}

@media screen and (max-width: 850px) {
    #hero {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        max-width: 85%;
        margin: 50px auto;
    }

    #hero-left {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #hero-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero-img {
        border-radius: 50%;
        margin: auto;
        width: 50%;
    }
}

#hero-before-heading {
    font-size: 20px;
    font-weight: 600;
    color: #606060;
    /* margin-bottom: 10px; */
    line-height: 28px;
}

#hero-text {
    color: #8896aa;
    line-height: 24px;
}

#hero-data {
    background-color: #4883E9;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 30px auto;
}

.hero-data-single {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.hero-data-single:nth-child(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.hero-data-heading {
    display: inline;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.hero-data-text {
    font-size: 12px;
    margin: 0;
}

#hero-img {
    border-radius: 50%;
    margin: auto;
    max-width: 60%;
}


/* Skills Section */

#skill-section {
    background-color: #F1F1FA;
    padding: 10px 0;
}

#skill-section-inner {
    max-width: 70%;
    margin: 50px auto;
}

/* #skills {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 40px auto;
} */

#skills{
    margin: 50px auto;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: 15% 15% 15% 15% 15% 15%; 
}

@media screen and (max-width: 768px) {
    #skills{
        display: grid;
        gap: 30px;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25%; 
    }
}

.skill {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.skill p {
    text-align: center;
    margin: 5;
    color: #0d43a0;
    font-size: 16px;
}

.skill img {
    max-width: 60px;
    background: rgb(88, 93, 254);
    background: linear-gradient(294deg, rgba(88, 93, 254, 1) 0%, rgba(72, 131, 233, 0.7990546560421043) 100%);
    padding: 10px;
    border-radius: 20px;
}