<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himanshu Singla - Full Stack Developer</title>

    <!-- Link CSS and JS Files -->
    <link rel="stylesheet" href="./index.css">
    <script src="./index.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>
    <nav></nav>

    <main>
        <!-- Hero -->
        <section id="hero">
            <!-- Hero Left -->
            <div id="hero-left">
                <div>
                    <p id="hero-before-heading">Hi, my name is</p>
                    <h1 id="hero-heading">Himanshu Singla</h1>
                    <p id="hero-text">I have built many industry grade projects from scratch and am armed with many
                        technological skills useful for tech projects. Check out my projects below. :)</p>
                </div>

                <div id="hero-data">
                    <div class="hero-data-single">
                        <span class="hero-data-heading">15</span>
                        <p class="hero-data-text">VERIFIED SKILLS</p>
                    </div>
                    <div class="hero-data-single">
                        <span class="hero-data-heading">5</span>
                        <p class="hero-data-text">PROFESSIONAL PROJECTS</p>
                    </div>
                    <div class="hero-data-single">
                        <span class="hero-data-heading">150+</span>
                        <p class="hero-data-text">DSA PROBLEMS SOLVED</p>
                    </div>
                </div>
            </div>
            <!-- Hero Right -->
            <div id="hero-right">
                <img src="../public/images/himanshu.jpg" alt="Himanshu Singla" id="hero-img">
            </div>
        </section>

        <!-- Skills Section -->
        <section>
            <h2>Skills Acquired</h2>
            <div>
                <!-- Different Skills -->
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
                <div>
                    <div style="background-color: blue; padding: 15px;">
                        <img src="../public/images/skill-img.png" alt="REST">
                    </div>
                    <p>REST</p>
                </div>
            </div>
        </section>

        <!-- Projects Section -->
        <section>
            <h2>My Projects</h2>
            <div>
                <!-- Project Details -->
                <div>
                    <!-- Description -->
                    <h3>QEats</h3>
                    <p>Aug 2022</p>
                    <div>
                        <p>QEats is a popular food ordering app that allows users to browse and order their favorite
                            dishes from nearby restaurants. During the course of this project,</p>
                        <ul>
                            <li>
                                Built different parts of the QEats backend which is a Spring Boot application.
                            </li>
                            <li>
                                Several REST API endpoints are implemented to query restaurant information and place
                                food orders.
                            </li>
                            <li>
                                Improved the app performance under large load scenarios as well as included an advanced
                                search feature in the app.
                            </li>
                        </ul>
                    </div>
                    <!-- Technologies used -->
                    <div>
                        <div>Java</div>
                        <div>Jackson</div>
                        <div>Lombok</div>
                        <div>Unit testing</div>
                        <div>HTTP</div>
                        <div>REST</div>
                        <div>Spring Boot</div>
                        <div>Interfaces</div>
                    </div>
                    <!-- Button for more details -->
                    <div>
                        <button>View Project Details</button>
                    </div>
                </div>
                <!-- Project Image -->
                <div>
                    <img src="../public/images/project-img.png" alt="QEats">
                </div>

            </div>
        </section>
    </main>
</body>

</html>